.containerevalu {  display: grid;
    width: 100vw; height: 100vh;
    grid-template-columns: 0.5fr 1.5fr 1.6fr 0.4fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.5fr 0.5fr;
    grid-template-rows: 1fr 1fr 1.3fr 0.5fr 1.2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . . . . . . . . . . . . . . . . ."
      ". regresar regresar . nombre nombre nombre nombre nombre nombre nombre nombre nombre nombre tiempo tiempo tiempo tiempo tiempo ."
      ". regresar regresar . nombre nombre nombre nombre nombre nombre nombre nombre nombre nombre tiempo tiempo tiempo tiempo tiempo ."
      ". . . . . . . . . . . . . . . . . . . ."
      ". ir ir . Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas ."
      ". ir ir . Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas ."
      ". ir ir . Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas ."
      ". ir ir . Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas ."
      ". ir ir . Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas ."
      ". ir ir . Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas ."
      ". ir ir . Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas ."
      ". ir ir . Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas ."
      ". . . . Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas ."
      ". Botones Botones . Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas ."
      ". Botones Botones . Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas ."
      ". Botones Botones . Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas Preguntas ."
      ". . . . . . . . . . . . . . . . . . . .";
  }
  
  .nombre { grid-area: nombre; }
  
  .tiempo { grid-area: tiempo; }
  
  .Preguntas { grid-area: Preguntas; }
  
  .ir { grid-area: ir; }
  
  .Botones { grid-area: Botones; }
  
  .regresar { grid-area: regresar; }
  