.containerClase {  display: grid;
    width: 100vw; height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . . . . . . ."
      "cancelar cancelar . . . . . . . ."
      ". . formulario-generico formulario-generico formulario-generico formulario-generico formulario-generico formulario-generico . ."
      ". . formulario-generico formulario-generico formulario-generico formulario-generico formulario-generico formulario-generico . ."
      ". . formulario-generico formulario-generico formulario-generico formulario-generico formulario-generico formulario-generico . ."
      ". . formulario-generico formulario-generico formulario-generico formulario-generico formulario-generico formulario-generico . ."
      ". . formulario-generico formulario-generico formulario-generico formulario-generico formulario-generico formulario-generico . ."
      ". . formulario-generico formulario-generico formulario-generico formulario-generico formulario-generico formulario-generico . ."
      ". . formulario-generico formulario-generico formulario-generico formulario-generico formulario-generico formulario-generico . ."
      ". . formulario-generico formulario-generico formulario-generico formulario-generico formulario-generico formulario-generico . ."
      ". . . . . . aceptar aceptar . ."
      ". . . . . . . . . .";
  }
  
  .formulario-generico { grid-area: formulario-generico; }
  
  .aceptar { grid-area: aceptar; }
  
  .cancelar { grid-area: cancelar; }
  